######################################
### mysqldグループ: mysqlサーバーへの設定
######################################

[mysqld]
# 文字コード/照合順序の設定
character-set-server = utf8mb4
collation-server = utf8mb4_bin

# デフォルト認証方式を mysql_native_password へ変更
# CakePHP4では、MySQL8.0以降のデフォルト認証方式の caching_sha2_password が対応していないため
default_authentication_plugin = mysql_native_password

######################################
### mysqlグループ: mysqlオプションへの設定
######################################

[mysql]
# 文字コードの設定
default-character-set = utf8mb4

######################################
### clientグループ: mysqlクライアントツールへの設定
######################################

[client]
# 文字コードの設定
default-character-set = utf8mb4